<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Logística
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>
      O TÉCNICO EM LOGÍSTICA é o profissional que colabora na gestão
      os processos de planejamento, operação e controle de programação
      da produção de bens e serviços, programação de manutenção de
      máquinas e de equipamentos, de compras, de recebimento, de
      armazenamento, de estoques, de movimentação, de expedição,
      transporte e distribuição de materiais e produtos, e execut
      a as mesmas funções utilizando tecnologia da informação.
    </p>
    <br>
    <p>
      Identifica metodologias, sistemas, procedimentos e equipamentos
      e estabelece critérios para seleção e utilização adequadas.
    </p>
    <br>
    <p>
      Presta atendimento aos clientes. Elabora e interpreta tabelas, gráficos e mapas.
      Implementa os procedimentos de controle de custos, qualidade, segurança e higiene
      do trabalho no sistema logístico. Atua de forma cooperativa e solidária, segundo
      princípios éticos e cidadãos.
    </p>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>Instituições públicas, privadas e do terceiro setor</p>
    <br>
    <img src="/assets/log.jpeg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O curso de TÉCNICO EM LOGÍSTICA é composto por três módulos.</p>
    <br>
    <p>
      O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional
      Técnica de Nível Médio de AUXILIAR DE LOGÍSTICA.
    </p>
    <br>
    <p>
      O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional
      Técnica de Nível Médio de ASSISTENTE DE LOGÍSTICA.
    </p>
    <br>
    <p>
      Ao completar os MÓDULOS I, II e III, o aluno receberá o diploma de TÉCNICO
      EM LOGÍSTICA, desde que tenha concluído, também, o Ensino Médio.
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Introdução à Logística</li>
        <li>Planejamento Empresarial e Empreendedorismo</li>
        <li>Aplicativos Informatizados</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Inglês Instrumental</li>
        <li>Gestão de Pessoas</li>
        <li>Cálculos Financeiros e Estatísticos</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Gestão de Recursos e Materiais</li>
        <li>Custos Logísticos</li>
        <li>Planejamento, Programação e Controle da Produção</li>
        <li>Movimentação, Expedição e Distribuição</li>
        <li>Gestão da Cadeia de Abastecimento</li>
        <li>Marketing</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Logística</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Gestão de Transportes</li>
        <li>Saúde e Segurança no Trabalho</li>
        <li>Logística Internacional e Economia</li>
        <li>Logística Reversa</li>
        <li>Gestão da Qualidade Total</li>
        <li>Tecnologia da Informação</li>
        <li>Legislação Tributária</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Logística</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>