<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administração
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>
      O TÉCNICO EM ADMINISTRAÇÃO é o profissional que adota postura ética
      na execução da rotina administrativa, na elaboração do planejamento da
      produção e materiais, Recursos Humanos, financeiros e mercadológicos.
    </p>
    <br>
    <p>
      Realiza atividades de controles e auxilia nos processos de direção utilizando
      ferramentas da informática básica. Fomenta ideias e práticas empreendedoras.
      Desempenha suas atividades observando as normas de segurança, saúde e higiene
      do trabalho, bem como as de preservação ambiental.
    </p>
    <br>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>Instituições públicas, privadas e do terceiro setor.</p>
    <br>
    <img src="/assets/adm.jpg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional Técnica de Nível Médio de AUXILIAR
      ADMINISTRATIVO.</p>
    <br>
    <p>O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica de Nível Médio de ASSISTENTE
      ADMINISTRATIVO.</p>
    <br>
    <p>Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM ADMINISTRAÇÃO, desde que tenha
      concluído, também
      , o Ensino Médio.
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Gestão de Pessoas</li>
        <li>Cálculos Financeiros</li>
        <li>Gestão Empresarial</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Aplicativos Informatizados</li>
        <li>Processos Operacionais Contábeis</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
        <li>Técnicas Organizacionais</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Gestão de Pessoas II</li>
        <li>Administração em Marketing</li>
        <li>Legislação Empresarial</li>
        <li>Custos e Operações Contábeis</li>
        <li>Cálculos Estatísticos</li>
        <li>Gestão Empreendedora e Inovação</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Administração</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Marketing Institucional</li>
        <li>Gestão Financeira e Econômica</li>
        <li>Gestão de Pessoas III</li>
        <li>Gestão da Produção e Materiais</li>
        <li>Logística Empresarial e Negociação Internacional</li>
        <li>Inglês Instrumental</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Administração</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>