<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Desenvolvimento De Sistemas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p>
      O TÉCNICO EM DESENVOLVIMENTO DE SISTEMAS é o profissional que
      analisa e projeta sistemas. Constrói, documenta, realiza testes
      e mantém sistemas de informação. Utiliza ambientes de desenvolvimento
      e linguagens de programação específica. Modela, implementa e mantém bancos de dados.
    </p>
    <br>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>
      Empresas e departamentos de desenvolvimento de sistemas em organizações
      governamentais e não governamentais, podendo também atuar como profissional
      autônomo.
    </p>
    <br>
    <img src="/assets/ds.jpg" alt="" class="" />
    <br>
    <p><b>Eixo Tecnológico</b></p>
    <br>
    <p>Informação e Comunicação</p>
    <p><b>Período</b></p>
    <br>
    <p>Noturno</p>
    <br>
    <p><b>Duração</b></p>
    <br>
    <p>Um ano e seis meses</p>
    <br>
    <p><b>Grade curricular</b></p>
    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Linguagem, Trabalho e Tecnologia</li>
        <li>Programação e Algoritmos</li>
        <li>Banco de Dados I</li>
        <li>Análise e Projeto de Sistemas</li>
        <li>Design Digital</li>
        <li>Programação Web I</li>
        <li>Fundamentos da Informática</li>
        <li>Técnicas de Programação</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Inglês Instrumental</li>
        <li>Desenvolvimento de Sistemas</li>
        <li>Banco de Dados II</li>
        <li>Internet e Protocolos</li>
        <li>Programação de Aplicativos Mobile I</li>
        <li>Programação Web II</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC)</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Segurança de Sistemas de Informação</li>
        <li>Banco de Dados III</li>
        <li>Sistemas Embarcados</li>
        <li>Programação de Aplicativos Mobile II</li>
        <li>Programação Web III</li>
        <li>Qualidade e Teste de Software</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC)</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>