<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Informática para Internet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <p>
      O TÉCNICO EM INFORMÁTICA PARA INTERNET é o profissional que
      desenvolve e realiza manutenções em websites, portais na
      Internet e Intranet.
    </p>
    <br>
    <p>
      Utiliza ferramentas de desenvolvimento de projetos para construir
      soluções que auxiliam o processo de criação de interfaces e aplicativos
      empregados no comércio e marketing eletrônicos.
    </p>
    <br>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>
      Instituições públicas, privadas e do terceiro setor que
      demandem programação de computadores para Internet.
    </p>
    <br>
    <img src="/assets/infoNet.jpg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O curso de TÉCNICO EM INFORMÁTICA PARA INTERNET é composto por três módulos.</p>
    <br>
    <p>
      O aluno que cursar o MÓDULO I concluirá a Qualificação Profissional Técnica
      de Nível Médio de AUXILIAR DE INFORMÁTICA PARA INTERNET.
    </p>
    <br>
    <p>
      O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional
      Técnica de Nível Médio de AUXILIAR EM DESIGN DE WEBSITES.
    </p>
    <br>
    <p>
      Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO
      EM INFORMÁTICA PARA INTERNET, desde que tenha concluído, também, o Ensino Médio
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Gestão de Sistemas Operacionais</li>
        <li>Operação de Softwares Aplicativos I</li>
        <li>Instalação e Manutenção de Computadores</li>
        <li>Desenvolvimento e Design de Websites I</li>
        <li>Lógica de Programação</li>
        <li>Arte Digital</li>
        <li>Empreendedorismo</li>
        <li>Inglês Instrumental</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Redes de Comunicação de Dados I</li>
        <li>Operação de Software I</li>
        <li>Desenvolvimento e Design de Websites II</li>
        <li>Projeto de Aplicações Web I</li>
        <li>Tecnologias e Linguagens para Banco de Dados I</li>
        <li>Composição e Projeto</li>
        <li>Criação e Editoração de Imagens</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Informática para Internet</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Redes de Comunicação de Dados II</li>
        <li>Programação para Internet</li>
        <li>Desenvolvimento de Software II</li>
        <li>Desenvolvimento e Design de Websites III</li>
        <li>Projeto de Aplicações Web II</li>
        <li>Tecnologias e Linguagens para Banco de Dados II</li>
        <li>Marketing para Web</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Informática para Internet</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>