<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Marketing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>
      O TÉCNICO EM MARKETING é o profissional ético que colabora na elaboração
      do plano de marketing da empresa, de acordo com seu ramo ou porte, tendo
      a competência aliada ao domínio técnico e no planejamento e implementação
      de ações de vendas e ações de mercado. Executa tarefa de análise das
      vendas, preços e produtos.
    </p>
    <br>
    <p>
      Operacionaliza as políticas de comunicação da empresa: fidelização de clientes,
      relação com fornecedores ou outras entidades. Operacionaliza políticas de apresentação
      dos produtos no ponto de venda.
    </p>
    <br>
    <p>
      Executa o controle, estatísticas e operações de telemarketing. Participa na elaboração
      e na realização de estudos de mercado, interpreta e aplica a legislação da área.
    </p>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>
      Instituições públicas; privadas e do terceiro setor; comércio; empresas de consultoria
      e de forma autônoma.
    </p>
    <br>
    <img src="/assets/mark.jpeg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O curso de TÉCNICO EM MARKETING é composto por três módulos.</p>
    <br>
    <p>
      O MÓDULO I não oferece terminalidade e será destinado à construção de um
      conjunto de competências que subsidiarão o desenvolvimento de competências
      mais complexas, previstas para os módulos subsequentes.
    </p>
    <br>
    <p>
      O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional Técnica
      de Nível Médio de ASSISTENTE DE VENDAS.
    </p>
    <br>
    <p>
      Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO EM MARKETING,
      desde que tenha concluído, também, o Ensino Médio.
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Introdução ao Marketing</li>
        <li>Legislação de Mercado</li>
        <li>Comunicação Mercadológica</li>
        <li>Comportamento do Consumidor</li>
        <li>Aplicativos Informatizados</li>
        <li>Gestão de Vendas I</li>
        <li>Pesquisa de Mercado</li>
        <li>Administração Financeira</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Gestão de Vendas II</li>
        <li>Técnicas de Informação e Comunicação Mercadológica</li>
        <li>Inglês Instrumental I</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
        <li>Espanhol Instrumental I</li>
        <li>Estratégias de Marketing</li>
        <li>Informática Aplicada ao Marketing</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Marketing</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Canais de Distribuição</li>
        <li>Marketing Institucional</li>
        <li>Empreendedorismo</li>
        <li>Plano de Comunicação</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Espanhol Instrumental II</li>
        <li>Inglês Instrumental II</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Marketing</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>