<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/logo.png" alt="" class="center" />
  <ion-item>
    <ion-input placeholder="Pesquisar ..."></ion-input>
    <ion-icon type="submit" name="search"></ion-icon>
  </ion-item>

  <ion-card-content>
    <p><b>Comunicado aos inscritos do Processo Seletivo Simplificado do Aviso nº 040/03/2019</b></p>
    <br>
    <p>
      Atenção inscritos do Processo Seletivo Simplificado do Aviso nº 040/03/2019

      O Edital de Resultado do Memorial Circunstanciado e Convocação para a Prova de Métodos Pedagógicos já está
      disponível no site
      da etec : (<a>http://www.etecbarrabonita.com.br/processo-seletivo/</a>) e também no mural da escola. Confira para
      conhecimento dos
      temas e das datas para a Prova de Métodos Pedagógicos.
    </p>
  </ion-card-content>

  <ion-card-content>
    <p><b>Resultado da seleção de candidatos para vagas remanescentes</b></p>
    <br>
    <p>
      Está disponível o resultado da 1ª fase do Processo Especial de Seleção de Candidatos para vagas remanescentes do
      Ensino Técnico.

      Acesse o link e verifique sua classificação.
    </p>
    <p><a>Resultado da 1° fase</a></p>
  </ion-card-content>

  <ion-card-content>
    <p><b>Minha história na Etec: Ana Carolina Foglieni (Secretariado)</b></p>
    <br>
    <p>
      <img src="/assets/foto1.jpg" alt="" class="" />
      Ana Carolina Foglieni. Ex-aluna de Secretariado.
      Comecei o curso Técnico em Secretariado na Etec por acaso, queria aprimorar
      meus conhecimentos e acrescentar algo a mais em meu currículo. No começo achei que eu
      não iria gostar, tive dificuldades, pensei em desistir, fiquei um tempo pensando e com o
      apoio de algumas pessoas que não me deixaram desistir, eu prossegui.
    </p>
    <br>
    Com o passar do tempo eu comecei a gostar muito das matérias, mesmo com as dificuldades fui até final,
    comecei no meio de 2016 e conclui no final de 2017, junto a isso terminei o colegial e acabei ficando sem emprego,
    alguns meses depois já em maio de 2018 comecei a trabalhar no comércio da cidade de Macatuba, não era fixo e pouco
    remunerado.
    <p>
      No final de maio recebi uma mensagem da escola para encaminhar meu currículo atualizado para concorrer a uma vaga
      na
      área secretarial em uma empresa conceituada de Barra Bonita, participei da entrevista e iniciei em 25 junho 2018.
      Com 06 meses de trabalho fui promovida e hoje atuo na área financeira da empresa.
    </p>
    <br>
    <p>
      Sou muito grata ao curso Técnico de Secretariado, pois foi por meio dele que tive esta oportunidade
      de trabalho e pude ingressar no mercado de trabalho.
    </p>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>