<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Informática
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>
      O TÉCNICO EM INFORMÁTICA é o profissional que desenvolve programas
      de computador, seguindo as especificações e paradigmas da lógica de
      programação e das linguagens de programação.
    </p>
    <br>
    <p>
      Utiliza ambientes de desenvolvimento de sistemas, sistemas operacionais
      e banco de dados. Realiza testes de programas de computador, mantendo
      registros que possibilitem análises e refinamento dos resultados. Executa
      manutenção de programas de computadores implantados.
    </p>
    <br>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>
      Instituições públicas, privadas e do terceiro setor, que demandam sistemas
      computacionais, especialmente envolvendo programação de computadores; indústrias
      em geral; comércio; empresas de prestação de serviços e empresas de tecnologia
      da informação; como autônomo em consultoria, treinamento e desenvolvimento de softwares.
    </p>
    <br>
    <img src="/assets/info.jpg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O curso de TÉCNICO EM INFORMÁTICA é composto por três módulos.</p>
    <p>
      O aluno que cursar o MÓDULO I concluirá a Qualificação Técnica de
      Nível Médio de AUXILIAR DE INFORMÁTICA.
    </p>
    <br>
    <p>
      O aluno que cursar os MÓDULOS I e II concluirá a Qualificação
      Técnica de Nível Médio de AUXILIAR EM PROGRAMAÇÃO DE COMPUTADORES.
    </p>
    <br>
    <p>
      Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma d
      e TÉCNICO EM INFORMÁTICA, desde que tenha concluído, também, o Ensino Médio.
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Lógica de Programação</li>
        <li>Técnicas de Programação para Internet I</li>
        <li>Técnicas de Linguagens para Banco de Dados I</li>
        <li>Análise de Sistemas</li>
        <li>Gestão de Sistemas Operacionais</li>
        <li>Operação de Software Aplicativo</li>
        <li>Instalação e Manutenção de Computadores</li>
        <li>Inglês Instrumental</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Técnicas de Orientação a Objetos</li>
        <li>Técnicas para Programação para Internet II</li>
        <li>Técnicas de Linguagens para Banco de Dados II</li>
        <li>Desenvolvimento de Software I</li>
        <li>Programação para Computadores I</li>
        <li>Gestão de Sistemas Operacionais II</li>
        <li>Empreendedorismo e Inovação</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Informática</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Redes de Comunicação de Dados</li>
        <li>Tecnologias para Mobilidade</li>
        <li>Técnicas de Linguagens para Banco de Dados III</li>
        <li>Desenvolvimento de Software II</li>
        <li>Programação de Computadores II</li>
        <li>Segurança Digital</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Informática</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>