<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ensino Médio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p>
      O Ensino Médio, etapa final da educação básica, com duração mínima de três anos aprofunda os
      conhecimentos adquiridos no ensino fundamental, possibilitando o prosseguimento de estudos.
    </p>
    <br>
    <p>
      O currículo do Ensino Médio além dos conhecimentos gerais inclui uma Língua Estrangeira Moderna,
      Filosofia e Sociologia como disciplinas obrigatórias em todas as séries do Ensino Médio. Como parte
      diversificada, a escola adota para as três séries o Inglês como Língua Estrangeira Moderna. Nas 2ª séries,
      os conhecimentos de Sociologia são desenvolvidos na Disciplina Educação para cidadania, projeto que
      contempla o estudo das leis básicas que constituem o Estado democrático, as que estabelecem os direitos
      e deveres dos cidadãos e dos governos e as leis que disciplinam a administração pública. O projeto ainda
      abrange temáticas desde o questionamento da cidadania negada – exclusão, acessibilidade e direitos humanos.
    </p>
    <img src="/assets/TroteEM.jpg" alt="" class="" />
    <p>
      O curso conta com eventos realizados anualmente com o objetivo de recepcionar os novos alunos e integrar a
      comunidade escolar, o Show da Etec, com diversas apresentações artísticas, entre as quais grupos de danças,
      paródias, dublagens, apresentações musicais, vídeos, entre outras. O evento valoriza a expressão e a arte como
      instrumentos de desenvolvimento das habilidades perceptivas e da capacidade reflexiva na formação de uma
      consciência
      crítica do aluno.
    </p>
    <br>
    <p>
      A Semana da Saúde visa a informação e conscientização de hábitos saudáveis por meio de ações de prevenção às
      enfermidades e desequilíbrios, buscando a integração das dimensões físicas e psicológicas do ser humano. O evento
      conta com palestras voluntárias ministradas por especialistas na área da saúde, aulas, produções e apresentações
      voltadas a temas que abordam aspectos da vida saudável.
    </p>
    <br>
    <p>
      A Semana Científica e Cultural, evento aberto à comunidade, tem como temas situações-problemas da vida cotidiana,
      ligados à ciência, cultura e sociedade para proporcionar ao aluno e ao público uma reflexão sobre as possíveis
      soluções e intervenções sociais.
    </p>
    <img src="/assets/ShowDaEtec.jpg" alt="" class="" />
    <p>
      O aluno do Ensino Médio expõe os estudos realizados de forma interdisciplinar utilizando recursos audiovisuais,
      danças, apresentações musicais, expressões corporais, esquetes teatrais, exposições de produções artísticas,
      experimentos e explicações envolvendo a física e a química.
    </p>
    <br>
    <p>
      Além disso, são realizadas reuniões com os representantes de classe, grêmio estudantil, pais e mestres, visitas
      e viagens culturais, palestras para orientação profissional, atendimento individualizado, processo seletivo para
      o ingresso de alunos para possíveis desistências.
    </p>
    <img src="/assets/Aprovados.jpg" alt="" class="" />
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>