<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contabilidade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>O TÉCNICO EM CONTABILIDADE é o profissional que desempenha tarefas relativas à
      contabilidade e auxilia a administração das entidades. Analisa a documentação
      contábil e elabora o plano de contas.
    </p>
    <br>
    <p>Organiza, controla e arquiva documentos relativos à atividade contábil e prepara
      as conciliações contábeis. Registra as operações de débito e crédito da empresa,
      ordenando os movimentos de partidas simples e dobradas.
    </p>
    <br>
    <p>
      Prepara a documentação, apura haveres, direitos e obrigações legais. Constitui
      e regulariza empresas, examina e classifica documentos fiscais e parafiscais.
      Auxilia no atendimento à fiscalização e precede a consultoria empresarial.
      Executa a contabilidade geral, operacionaliza a contabilidade de custos, efetua
      contabilidade gerencial e realiza controle patrimonial.
    </p>
    <br>
    <p><b>Mercado de trabalho</b></p>
    <p>
      Trabalhar em escritórios de contabilidade, em departamentos de contabilidade de
      empresas agrícolas, comerciais, industriais e de serviços, do terceiro setor e em
      órgãos governamentais.
    </p>
    <br>
    <img src="/assets/cont.jpg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>
    <br>
    <p>O curso de TÉCNICO EM CONTABILIDADE é composto por três módulos.</p>
    <br>
    <p>O MÓDULO I não oferece terminalidade e será destinado à construção de um
      conjunto de competências que subsidiarão o desenvolvimento de competências
      mais complexas, previstas para os módulos subsequentes.
    </p>
    <br>
    <p>
      O aluno que cursar os MÓDULOS I e II concluirá a Qualificação Profissional
      écnica de Nível Médio de AUXILIAR DE CONTABILIDADE.
    </p>
    <br>
    <p>
      Ao completar os MÓDULOS I, II e III, o aluno receberá o Diploma de TÉCNICO
      EM CONTABILIDADE, desde que tenha concluído, também, o Ensino Médio.
    </p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Aplicativos Informatizados</li>
        <li>Ética e Cidadania Organizacional</li>
        <li>Gestão de Documentos Contábeis</li>
        <li>Contabilidade Introdutória</li>
        <li>Direito Comercial e Empresarial</li>
        <li>Linguagem, Trabalho e Tecnologia</li>
        <li>Operações Financeiras</li>
        <li>Economia e Mercado Financeiro</li>
        <li>Legislação Social e Trabalhista</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Contabilidade Comercial</li>
        <li>Contabilidade de Custos</li>
        <li>Contabilidade Intermediária</li>
        <li>Sistemas de Informações Contábeis</li>
        <li>Planejamento Estatísticos de Pesquisa</li>
        <li>Inglês Instrumental</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) em Contabilidade</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Contabilidade Gerencial e Estratégica</li>
        <li>Tópicos Especiais de Contabilidade</li>
        <li>Contabilidade Tributária e Fiscal</li>
        <li>Estrutura e Análise das Demonstrações Financeiras</li>
        <li>Contabilidade Pública</li>
        <li>Contabilidade do Agronegócio</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) em Contabilidade</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>