<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Secretariado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p><b>Habilitação profissional</b></p>
    <br>
    <p>
      O TÉCNICO EM SECRETARIADO é o profissional que assessora o (os)
      executivo (os) em linguagem nacional e internacional, aplicando
      as técnicas secretariais que subsidiarão o (os) executivo (os) na
      tomada de decisões, inclusive para o planejamento estratégico, tático,
      operacional e Plano Diretor.
    </p>
    <br>
    <p>
      Exerce funções gerenciais; empreendedoras; práticas inovadoras; ações proativas;
      comprometido com a cultura organizacional; gerencia o fluxo de informações: produção
      documental física e eletrônica, conferência da documentação com ênfase no apoio à
      gestão organizacional.
    </p>
    <br>
    <p>
      Domina aplicativos e Internet na pesquisa, organização, elaboração, atualização e manutenção
      de dados..
    </p>
    <p><b>Mercado de trabalho</b></p>
    <br>
    <p>
      Instituições, públicas, privadas, mistas e do terceiro setor: indústrias, prestadoras
      de serviços e comércio.
    </p>
    <br>
    <img src="/assets/sec.jpeg" alt="" class="" />
    <br>
    <p><b>Grade curricular</b></p>

    <dl><b>Módulo I</b>
      <ol start="1">
        <li>Representação e Comunicação em Língua Portuguesa I</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Espanhol I</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Inglês I</li>
        <li>Administração e Planejamento Empresarial</li>
        <li>Gerenciamento de Rotinas e Serviços</li>
        <li>Gestão de Informações e Documentos</li>
        <li>Aplicativos Informatizados I</li>
        <li>Ética e Cidadania Organizacional</li>
      </ol>
    </dl>

    <dl><b>Módulo II</b>
      <ol start="1">
        <li>Representação e Comunicação em Língua Portuguesa II</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Espanhol II</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Inglês II</li>
        <li>Assessoria Empresarial e de Eventos</li>
        <li>Tecnologias em Ambientes Administrativos I</li>
        <li>Gestão Financeira e Contábil</li>
        <li>Aplicativos Informatizados II</li>
        <li>Planejamento do Trabalho de Conclusão de Curso (TCC) na Área Secretarial</li>
      </ol>
    </dl>

    <dl><b>Módulo III</b>
      <ol start="1">
        <li>Representação e Comunicação em Língua Portuguesa III</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Espanhol III</li>
        <li>Representação e Comunicação em Língua Estrangeira Moderna: Inglês III</li>
        <li>Assessoramento Empresarial</li>
        <li>Aplicativos Informatizados III</li>
        <li>Assessoramento de Eventos</li>
        <li>Tecnologias em Ambientes Administrativos</li>
        <li>Desenvolvimento do Trabalho de Conclusão de Curso (TCC) na Área Secretarial</li>
      </ol>
    </dl>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>