<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ensino Integrado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p>
      O <b>Ensino Técnico Integrado ao Médio</b>, além de abranger as disciplinas regulares
      da última etapa do ensino básico, as integra ao ensino técnico, em nossa escola, ao
      curso de Informática para Internet, visando também a formação profissional do aluno,
      que é responsável por desenvolver programas de computador para internet seguindo as
      especificações e paradigmas da lógica e das linguagens de programação, identifica e
      usa fontes e documentos específicos para a obtenção das informações desejadas.
    </p>
    <br>
    <p>
      São elaborados projetos interdisciplinares entre as disciplinas do Ensino Médio e Técnico,
      trabalhos que são apresentados anualmente tanto na Semana Científica e Cultural como na
      Semana das Profissões, eventos abertos à comunidade com salas interativas e aulas experimentais.
    </p>
    <ul>
      <li>
        O primeiro estuda situações-problemas relacionados à vida cotidiana do aluno de forma a proporcionar
        a capacidade de compreender o mundo ao seu redor.
      </li>
      <li>
        O segundo, além de divulgar o curso, tem como finalidade auxiliar os educandos na escolha profissional,
        informando sobre perfil profissional, empregabilidade, faixa salarial e o que se estuda no curso técnic
        o oferecido pela escola. Ambos eventos contribuem para trabalhar o espírito em equipe, a comunicação,
        as adversidades, flexibilidade, liderança, iniciativa, comportamento ético, para que o desenvolvimento das
        competências e habilidades seja pleno.
      </li>
    </ul>
    <p>
      Para a divulgação do curso promove-se no segundo semestre o evento “Etec de portas abertas”. Também aberto
      à comunidade, a equipe gestora, pedagógica e docente apresentam as instalações da escola, as disciplinas e as
      respectivas habilidades e competências contempladas no plano docente.
    </p>
    <br>
    <p>
      Para recepcionar os novos alunos e integrar a comunidade escolar, a escola conta com o evento “Show da Etec”,
      com diversas apresentações artísticas, entre as quais grupos de danças, paródias, dublagens, apresentações
      musicais,
      vídeos, entre outras. O evento valoriza a expressão e a arte como instrumentos de desenvolvimento das habilidades
      perceptivas
      e da capacidade reflexiva na formação de uma consciência crítica do aluno, além de proporcionar um ambiente
      agradável e
      respeitoso.
    </p>
    <br>
    <p>
      No último ano, o responsável pelo componente curricular TCC cria oportunidades para que os alunos construam e
      apresentem um
      produto final – Trabalho de Conclusão de Curso – TCC. Este se constitui por uma pesquisa que, somada à pesquisa
      bibliográfica,
      dará o embasamento prático e teórico necessário para o desenvolvimento do trabalho. A escola adota como proposta
      a criação de
      sites.
    </p>
  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>