<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cursos Técnicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <p>Os cursos técnicos oferecidos são:</p>
    <ul>
      <li><a href="/administracao">Administração</a></li>
      <li><a href="/contabilidade">Contabilidade</a></li>
      <li><a href="/desenvolvimento-sistema">Desenvolvimento de Sistemas</a></li>
      <li><a href="/informatica">Informática</a></li>
      <li><a href="/informatica-internet">Informática para Internet</a></li>
      <li><a href="/logistica">Logística</a></li>
      <li><a href="/marketing">Marketing</a></li>
      <li><a href="/secretariado">Secretariado</a></li>
    </ul>

  </ion-card-content>

  <br><br><br><br>

  <div class="rodape">
    <br>
    <p class="corFonte"><b>Links</b></p>

    <p class="borda"><a href="https://www.cps.sp.gov.br/">Centro Paula Souza</a></p>

    <p class="borda"><a href="https://www.vestibulinhoetec.com.br/home/">Vestibulinho</a></p>

    <p class="borda"><a href="https://nsa.cps.sp.gov.br/">Sistema – NSA</a></p>

    <br>

    <p class="corFonte"><b>Contato</b></p>
    <p class="borda corTxt">Localização</p>
    <p class="borda corTxt">Rua Ludovico Victório, 2140 Vila</p>
    <p class="borda corTxt">Habitacional, Barra Bonita - SP, 17340-000</p>

    <br>

    <p class="corFonte"><b>Email</b></p>
    <p class="borda corTxt a">etecbarrabonita@etecbarrabonita.com.br</p>

    <br>

    <p class="corFonte"><b>Telefone</b></p>
    <p class="borda corTxt">(14) 3641-1310</p>
  </div>
</ion-content>